# Images
*.png
*.jpg
*.jpeg
*.gif
*.svg
*.webp

# Videos
*.mp4
*.mov
*.avi
*.mkv
*.webm

# Audio
*.mp3
*.wav

# Dependencies
node_modules/

# Logs
npm-debug.log*

# Environment variables
.env

# Build folders
dist/
build/

# OS files
.DS_Store
Thumbs.db